<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <p><%=students[0]%></p>
  <ul>
        <%students.forEach((student)=>{%>
        <li><%= student %></li>
     <% })%>

  </ul>
</html>
